.message-userDetails .at_ni_label {
	.xf-ac_tsb_div();
}
<xf:if is="property('ac_tsb_first')">
	.block-body.js-replyNewMessageContainer article:first-child .message-userDetails .at_ni_label {
		display: none;
	}
</xf:if>