<div class="message-userDetails">
	<xf:if is="{$__globals.thread} AND {$__globals.thread.user_id} == {$user.user_id} AND {$__globals.thread.user_id} != 0">
		<div class="at_ni_label">
			<span data-xf-init="tooltip" title="{{ phrase('ac_tsb_threadstarter')|for_attr }}">
				<xf:fa icon="{{(property('ac_tsb_icon'))}}"/>
			</span>
		</div>
	</xf:if>